<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Force all requests to the be-laravel/public/ folder
    RewriteCond %{REQUEST_URI} !^/be-laravel/public/
    RewriteRule ^(.*)$ be-laravel/public/$1 [L,QSA]
</IfModule>
